p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
.ant-card-head-title{
    color: #172b4d;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

.ant-card-body{
    padding: 10px !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.ant-card-body>div::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ant-card-body>div {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.slick-arrow::before{
    color: #172b4d !important;
}

.antd-demo-dynamic-option img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  #normal_login .login-form {
    max-width: 300px;
  }
  #normal_login .login-form-forgot {
    float: right;
  }
  #normal_login .ant-col-rtl .login-form-forgot {
    float: left;
  }
  #normal_login .login-form-button {
    width: 100%;
  }